.edit {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  position: absolute;
  display: none;
  top: 5px;
  right: 5px;
}

.save {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #e53e3e;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.add {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}
