.Skills {
  padding: 20px;
  position: relative;
}

.Skills:hover .edit {
  display: block;
}

.Skills__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  position: relative;
}

.Skills__list__item:hover .delete {
  display: block;
}

.Skills__list__item h3 {
  width: 80%;
}
