.Skills {
  padding: 20px;
  position: relative;
}

.Skills:hover .edit {
  display: block;
}

.Skills__title h2 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #2d3748;
}

.Skills__list {
  margin-top: 10px;
}

.Skills__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  position: relative;
}

.Skills__list__item:hover .delete {
  display: block;
}

.Skills__list__item h3 {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 400;
}
