@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

.small__font {
  font-size: 0.8rem;
  font-weight: 400;
}

.medium__font {
  font-size: 0.8rem;
  font-weight: 600;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #2d3748;
}

.mt__10 {
  margin-top: 10px;
}

.mt__20 {
  margin-top: 20px;
}

.hidden {
  display: none;
}
